<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thebookstore2019_09_02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CaptainMarvel"></activity>
        <activity android:name=".Westerns" />
        <activity android:name=".Thriller" />
        <activity android:name=".ScienceFiction" />
        <activity android:name=".Romance" />
        <activity android:name=".Mystery" />
        <activity android:name=".Fantacy" />
        <activity android:name=".Drama" />
        <activity android:name=".Adventures" />
        <activity android:name=".DetectiveStory" />
        <activity android:name=".Fragment_feedback" />
        <activity android:name=".Horror" />
        <activity android:name=".Crime" />
        <activity android:name=".Comic" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivitySplash1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>